
.shopping-lists-overview {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.dark-mode .shopping-lists-overview {
  background-color: #2c2c2c;
  color: maroon;
}

.shopping-list-item {
  background-color: #f7e6e8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.dark-mode .shopping-list-item {
  background-color: #555555;
  color: black;
}

.tile-button {
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  background-color: #ffb6c1;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.tile-button:hover {
  transform: scale(1.1);
  background-color: #ff87ab;
}

.dark-mode .tile-button {
  background-color: darkgoldenrod;
  color: darkblue;
}

@media (max-width: 600px) {
  .shopping-lists-overview {
    padding: 15px;
  }
  .tile-button {
    width: 100%;
  }
}
